@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
  padding: 3dvh;
  margin: 20px;
  
 
  
}

nav {
  list-style: none;
  margin-bottom: 10px;
  color: #fff;
  width: 100%;
  Position: sticky;
  top: 0;
  Background-color: #eee;
  margin: 0 auto;
  
  
}

nav li {
  padding: 5px;
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

nav li a {
  text-decoration: none;
  color: #777;
  
}

nav li a:hover {
  color: #FFFFFF;
  background-color: #191919;
}

ul {
  padding: 0; 
}

.newspaper-container {
  padding: 10px;
  margin: 0 auto;
  width: 800px;
}

h5 {
  color: red;
}

.more-articles section {
  display: inline-block;
  width: 44%;
  margin: 0 15px;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
 font-family: roboto slab;

}
.date {
  font-weight: bold;
  font-weight: normal;
  font-weight: 900;
}

.newspaper-container {
  border-radius:15px;
  border-color: #eee;
  background-color: #eee

}

header{
  font-family: Abril Fatface;
}